 <form method="POST" id="newUser">
	 {{ form_start(form) }}
	 {{form_rest(form)}}
	 	<button id="submit-create-user" type="submit" class="btn btn-primary">Create new user</button>
	 {{ form_end(form) }}
 </form>